html {
    width: 100%;
}

body {
    width: 100%;
    background: url("black-wallpaper-22.jpg");

}


#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
    /*background: url("black-wallpaper-22.jpg");*/
    /*height: 5000px;*/
    /*padding: 50px;*/
    width: 100%;
    padding: 2%;

}

h1 {
    grid-column: 1/10;
    /*grid-row: 1;*/
    color: white;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    padding: 25px;
    font-family: Roboto, sans-serif;


}

#myname {
    font-size: 55px;
    grid-column: 2/4;
    color: #f75c00;
    font-family: "Courier New", cursive;

}


nav {
    grid-column: 2/8;
    /*grid-row: 2;*/
    width: 100%;
    height: 100%;
    padding: 10px;
    border-bottom: 2px solid darkslategray;
    border-top: 2px solid darkslategray;
    border-left: 2px solid darkslategray;
    background-color: darkslategray;
    border-radius: 25px;


}

#git {

    grid-column: 8;
    /*grid-row: 2;*/
    width: 100%;
    padding: 10px;
    height: 100%;
    border-bottom: 2px solid darkslategray;
    border-top: 2px solid darkslategray;
    border-left: 2px solid darkslategray;
    border-radius: 25px;
    background-color: darkslategray;
}

#linkedIn {
    grid-column: 9;
    /*grid-row: 2;*/
    width: 100%;
    padding: 10px;
    height: 100%;
    border-bottom: 2px solid darkslategray;
    border-top: 2px solid darkslategray;
    border-right: 2px solid darkslategray;
    border-radius: 25px;
    background-color: darkslategray;
}

.nav-item {

    font-size: 30px;

}

.nav-link {
    color: white;
    font-family: Verdana, sans-serif;
}


#hello {
    margin-top: 300px;
    font-family: "Courier New", cursive;
    font-size: 40px;
    grid-column: 2/4;
    color: #f75c00;
    padding: 25px;

}

#mypic {
    margin-left: 30%;
    margin-top: 15%;
    margin-bottom: 20%;
    border: darkslategray 10px solid;
    border-radius: 75px;

}

#aboutmeTitle {
    /*grid-row: 4;*/
    grid-column: 2/10;
    font-size: 40px;
    height: 100%;
    color: turquoise;
    padding: 25px;
    /*border-top: 1px solid #f75c00;*/


}

#aboutme {
    /*grid-row: 5;*/
    grid-column: 2/6;
    font-size: 35px;
    height: 20%;
    color: white;
    padding: 25px

}


#skillsTitle {
    /*grid-row: 7;*/
    grid-column: 2/10;
    font-size: 40px;
    height: 100%;
    color: turquoise;
    padding: 25px

}

#skills {
    /*grid-row: 8;*/
    grid-column: 2;
    font-size: 25px;
    height: 20%;
    color: white;
    padding: 25px

}

#eduTitle {
    /*grid-row: 9;*/
    margin-top: 70px;
    grid-column: 2/10;
    font-size: 40px;
    height: 100%;
    color: turquoise;
    padding: 25px

}

#education {
    /*grid-row: 10;*/
    grid-column: 2/10;
    font-size: 25px;
    height: 20%;
    color: white;
    padding: 25px


}


#proTitle {
    /*grid-row: 9;*/
    grid-column: 2/10;
    font-size: 40px;
    height: 100%;
    color: turquoise;
    padding: 25px

}

#projects {
    /*grid-row: 10;*/
    grid-column: 2/8;
    font-size: 25px;
    height: 20%;
    color: white;
    padding: 25px;

}





#resumeTitle {
    /*grid-row: 9;*/
    grid-column: 2/10;
    font-size: 40px;
    height: 100%;
    color: turquoise;
    padding: 25px;
}

#resume {
    /*grid-row: 10;*/
    grid-column: 2/8;
    font-size: 35px;
    height: 1200px;
    width: 1000px;
    color: white;
    padding: 25px;
}

#pdf
{
    grid-column: 2/8;
    padding: 25px;
    font-size: 25px;
    width: 500px;
    height: 200px;
    color: #f75c00;

}

#conTitle {
    /*grid-row: 9;*/
    grid-column: 2/10;
    font-size: 40px;
    height: 100%;
    color: turquoise;
    padding: 25px;

}

#contact {
    /*grid-row: 10;*/
    grid-column: 2/8;
    font-size: 25px;
    height: 20%;
    color: white;
    padding: 25px;
}

.td_table {
    height: 100%;
    width: 300px;
    padding: 25px;
    font-size: 35px;
    color: white;
    text-align: center;
    grid-column: 1/7;


}


.skillimages {


    border: #f75c00 4px solid;
    border-radius: 25px;
}


#edu_table {
    grid-column: 2;
    padding: 10px;


}

.round_images {
    border-radius: 25px;
    border: #f75c00 5px solid;

}

footer {
    color: lightgrey;
    font-size: 30px;
    grid-column: 2/10;
    text-align: center;
}

#back_to_top {
    color: #f75c00;
}