#name{
    background: darkslategray;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr  1fr;

}
#socialMedia{

    grid-column: 3;
}
#myName{
    grid-column: 2;
}

#tagLine{
    grid-column: 2;
}

#pic{
    padding: 1%;

}
#stackPill
{
    grid-column: 3;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /*background-color: #E9EBEF;*/
    background: darkslategray;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
#aboutme{
    padding: 2%;
}

#skills-section{
    background: darkslategray;
    color: white;
    padding: 2%;

}

#skills {

    grid-column: 3/9;
    font-size: 0.5vw;
    font-family:"Courier New", cursive;
    height: 100%;
    width: 100%;
    color: white;
    margin: 2%;
    padding: 2%;
    opacity: 0.85;

}


.skills_td_table {
    /*height: 100%;*/
    padding: 1%;
    font-size: 1vw;
    color: white;
    text-align: center;
    /*grid-column: 1/7;*/
}

.skillimages {

    border: #f75c00 4px solid;
    /*border-radius: 25px;*/
    margin: 15%;

}


#edu-section{
    background: black;
    color: white;
    padding: 2%;
    opacity: 0.85;

}


.education {


    grid-column: 3/9;
    margin-top: 2%;
    font-size: 1vw;
    font-family:"Courier New", cursive;
    height: 100%;
    width: 100%;
    color: white;
    padding: 2%;
    background-color: darkslategray;
    /*border-radius: 75px;*/
    opacity: 0.85;

}


.edu_table {
    grid-column: 3/9;
    padding: 10px;

}


.edu_td_table {
    height: 100%;
    padding: 2%;
    font-size: 1.25vw;
    color: white;
    text-align: center;
    grid-column: 1/7;
    border-top:solid 1px white ;
    border-bottom:solid 1px white ;
    margin: 2%;


}

#project-section{
    color: white;
    background: #120009;
    padding: 2%;
    opacity: 0.85;

}

.projects_table_section{
    color: white;
    font-size: 1.25vw;
}
