html {
    width: 100%;
}


body {
    width: 100%;
    background: url("images/orange_dots.jpg");
    background-color: white;

}


#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    padding: 2%;
}




#myname {
    grid-column: 1/11;
    width: 100%;
    text-align: center;
    font-size: 65px;
    font-weight: bolder;
    color: darkslategray;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    margin-top: 1%;
    padding: 2%;
    background-color: white;
}



/*#myname:hover {*/
/*    grid-column: 5/10;*/
/*    width: 100%;*/
/*    font-size: 55px;*/
/*    font-weight: bolder;*/
/*    color: darkorange;*/
/*    font-family: "Courier New", cursive;*/
/*    margin-top: 1%;*/
/*    padding: 2%;*/
/*    background-color: white;*/
/*}*/


#nav {
    grid-column: 1/11;
    width: 100%;
    height: 100%;
    padding: 1%;
    border: 2px solid darkslategray;
    background-color: darkslategray;
    border-radius: 45px;
    margin-right: 5%;
    opacity: 0.90;
}




/*#git {*/

/*    !*grid-column:8/10;*!*/
/*    width: 100%;*/
/*    height: 50%;*/
/*    border: 2px solid darkslategray;*/
/*    border-radius: 25px;*/
/*    background-color: darkslategray;*/
/*    padding-bottom:5% ;*/
/*    margin-right: 10%;*/
/*}*/





/*#linkedIn {*/
/*    !*grid-column: 10;*!*/
/*    width: 90%;*/
/*    padding-bottom: 2px;*/
/*    margin-left: 10%;*/
/*    height: 50%;*/
/*    text-align: center;*/
/*    border: 2px solid darkslategray;*/
/*    border-radius: 25px;*/
/*    background-color: darkslategray;*/
/*}*/



.nav-item  {

    /*padding: 1%;*/
    margin: 1%;
}


.nav-link {
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 20px;
}



.nav-link:hover {
    color: #f75c00;
    font-family: Verdana, sans-serif;
    font-size: 20px;
}




#hello {

    font-family: "Courier New", cursive;
    font-weight: bolder;
    font-size: 2vw;
    grid-column: 2/8;
    color: #f75c00;
    padding: 5%;
    margin-top: 10%;
    /*border: darkslategray 10px solid;*/
    /*border-radius: 75px;*/


}


/*#hello:hover {*/

/*    font-family: "Courier New", cursive;*/
/*    font-weight: bolder;*/
/*    font-size: 25px;*/
/*    grid-column: 3/6;*/
/*    color: darkslategray;*/
/*    padding: 5%;*/
/*    margin-top: 10%;*/
/*    !*border: darkslategray 10px solid;*!*/
/*    !*border-radius: 75px;*!*/

/*}*/


#mypic {
    grid-column: 8/9;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 20%;
    border: darkslategray 10px solid;
    border-radius: 75px;
}


/*#mypic:hover {*/
/*    grid-column: 7/9;*/
/*    margin-left: 30%;*/
/*    margin-top: 10%;*/
/*    margin-bottom: 20%;*/
/*    border: darkcyan 10px solid;*/
/*    border-radius: 75px;*/
/*}*/





#sideart{
    grid-column: 10;
    margin-top: 2%;

    margin-left: 15%;

}

#left_sideart {
    grid-column: 1;
    margin-top: 2%;
    /*margin-left: 5%;*/

}


#aboutmeTitle {

    grid-column: 1/9;
    font-size: 35px;
    font-family:"Courier New", cursive;
    text-decoration: darkslategray underline solid;
    font-weight: bolder;
    height: 100%;
    color: darkslategray;
    /*padding: 25px;*/
    margin-top: 5%;
    /*    background-color: white;*/
}
#aboutme {

    grid-column: 3/9;
    font-size: 25px;
    height: 100%;
    color: white;
    padding: 5%;
    font-family:"Courier New", cursive;
    background-color: darkslategray ;
    opacity: 0.85;
    border-radius: 75px;
    margin-top: 2%;
}


#skillsTitle {

    grid-column: 1/10;
    font-size: 35px;
    font-family:"Courier New", cursive;
    font-weight: bolder;
    height: 100%;
    color: darkslategray;
    padding: 2%;
    margin-top: 10%;
    text-decoration: darkslategray underline solid;
    /*background-color: white;*/

}

#skills {

    grid-column: 3/9;
    font-size: 2vw;
    font-family:"Courier New", cursive;
    height: 100%;
    width: 100%;
    color: white;
    background-color: darkslategray;
    border-radius: 75px;
    margin: 2%;
    padding: 10%;
    opacity: 0.85;

}


.skills_td_table {
    /*height: 100%;*/
    /*padding: 1%;*/
    font-size: 1vw;
    color: white;
    text-align: center;
    /*grid-column: 1/7;*/
}

.skillimages {

    border: #f75c00 4px solid;
    border-radius: 25px;
    margin: 15%;

}

#eduTitle {
    grid-column: 1/10;
    font-size: 35px;
    font-family:"Courier New", cursive;
    font-weight: bolder;
    height: 100%;
    color: darkslategray;
    padding: 2%;
    margin-top: 10%;
    text-decoration: darkslategray underline solid;
    /*background-color: white;*/


}

.education {


    grid-column: 3/9;
    margin-top: 2%;
    font-size: 1vw;
    font-family:"Courier New", cursive;
    height: 100%;
    width: 100%;
    color: white;
    padding: 2%;
    background-color: darkslategray;
    border-radius: 75px;
    opacity: 0.85;

}


.edu_table {
    grid-column: 3/9;
    padding: 10px;

}


.edu_td_table {
    height: 100%;

    padding: 25px;
    font-size: 1vw;
    color: white;
    text-align: center;
    grid-column: 1/7;
    border-top:solid 1px white ;
    border-bottom:solid 1px white ;

}

.td_table {
    /*height: 100%;*/
    padding: 1%;
    font-size: 1vw;
    color: white;
    text-align: center;
    /*grid-column: 1/7;*/
}


#proTitle {

    grid-column: 1/9;
    font-size: 35px;
    font-family:"Courier New", cursive;
    font-weight: bolder;
    height: 100%;
    color: darkslategray;
    padding: 25px;
    margin-top: 10%;
    margin-bottom: 5%;
    text-decoration: darkslategray underline solid;


}

.projects_table_section {

    grid-column: 3/9;
    margin-top: 2%;
    column-gap: 1%;
    font-size: 2vw;
    font-family:"Courier New", cursive;
    height: 100%;
    width: 100%;
    color: white;
    padding: 2%;
    background-color: darkslategray;
    border-radius: 75px;
    opacity: 0.85;


}


.td_project_screen_shot{

    /*border: #f75c00 5px solid;*/
    grid-column: 3/9;
    font-weight: bolder;
    /*background-color: whitesmoke;*/
    color: white;
    padding: 2%;
    margin: 2%;
}

/*a:link {*/
/*    color: #f75c00;*/
/*}*/

/* visited link*/
/*a:visited {*/
/*    color: white;*/
/*}*/

 mouse over link
a:hover {
    color: wheat;
}

 selected link
a:active {
    color: blue;
}

.td_project_title
{

    /*border: #f75c00 5px solid;*/

    /*border: #f75c00 5px solid;*/
    grid-column: 3/9;
    font-size: 1vw;
    text-align: left;
    color: white;
    padding: 2%;
    margin: 2%;
    border-radius: 2%;

}

.td_project_description
{

    grid-column: 3/9;
    background-color: darkslategray;
    font-size: 1vw;
    color: lightblue;
    margin: 2%;
    padding: 2%;
    border-radius: 2%;

}

#resumeTitle {

    grid-column: 1/11;
    font-size: 35px;
    font-family:"Courier New", cursive;
    font-weight: bolder;
    height: 100%;
    color: darkslategray;
    padding: 25px;
    margin-top: 10%;
    text-decoration: darkslategray underline solid;
}

#resume {

    grid-column: 3/9;
    font-size: 35px;
    height: 1200px;
    width: 100%;
    color: white;
    padding: 25px;
    border: #f75c00 4px solid;
    border-radius: 45px;
    background-color: darkslategray;

    opacity: 0.95;
}

#pdf
{
    grid-column: 2/8;
    padding: 2%;
    font-size: 20px;
    font-weight: bold;
    width: 500px;
    height: 200px;
    color: darkslategray;
    text-align: center;
    margin-left: 40%;

}

#conTitle {

    grid-column: 1/10;
    font-size: 35px;
    font-family:"Courier New", cursive;
    font-weight: bolder;
    height: 100%;
    color: darkslategray;
    padding: 25px;
    margin-top: 10%;
    text-decoration: darkslategray underline solid;

}

#contact_form {
    grid-column: 3/9;
    padding: 25px;
    font-size: 25px;
    width: 100%;
    color: #f75c00;
    border-radius: 45px;
    border: #f75c00 4px solid;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: darkslategray;
    opacity: 0.85;

}


#weekly_reflect_Title

{

    grid-column: 1/10;
    font-size: 35px;
    font-family:"Courier New", cursive;
    height: 100%;
    width: 100%;
    font-weight: bolder;
    color: darkslategray;
    padding: 25px;
    margin-top: 10%;
    text-decoration: darkslategray underline solid;

}

#reflections_iframe{

    grid-column: 3/9;
    padding: 1.5%;
    width: 100%;
    color: #f75c00;
    border-radius: 45px;
    border: #f75c00 4px solid;
    margin-top: 50px;
    margin-bottom: 1%;
    background-color: darkslategray;

}



.round_images {
    border-radius: 25px;
    border: #f75c00 5px solid;

}

footer {
    color: lightslategray;
    font-size: 30px;
    grid-column: 3/9;
    text-align: center;
}

.back_to_top {
    color: #f75c00;
    font-weight: bolder;

}

